/* Dark theme */
.theme-dark {
  --text: rgb(82, 156, 202);
  --background: rgba(0, 0, 0, 0);
}

/* Light theme */
.theme-light {
  --text: rgb(11, 110, 153);
  --background: rgba(0, 0, 0, 0);
}

mark, .cm-highlight {
  background-color: var(--background) !important;
  color: var(--text) !important;
}